body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.accessoriesTable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 3px solid white;
}

.middleRows {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.headerRow, .footerRow {
    border-width: 2px;
}

.middleRow {
    border-left-width: 2px;
    border-right-width: 2px;
}

.column {
    text-align: center;
    border-right: 3px solid white;
    min-width: 115px;
    max-width: 115px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 60px;
    overflow: hidden;
}

a {
    color: skyblue;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    text-decoration: none;
}

.pageHeaderRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageHeaderRow h1 {
    width: 75%;
}

.homePageLink {
    width: 25%;
}

form {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

select, input, .formSubmitButton {
    padding: 10px;
}

select {
    color: #898585;
}

option {
    color: black;
}

input::placeholder {
    color: #898585;
}